* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*
  **
  **
  ** Css of Header
  **
  **
  */

header {
  display: flex;
  background-color: #12141d;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 10px 55px;
}

.links ul {
  display: flex;
  gap: 25px;
}

.links a {
  color: #fff;
}

.links a:hover,
.links a.active {
  color: #2b59ff;
  border-bottom: 2px solid;
  cursor: pointer;
}

.buttons button {
  padding: 10px 40px;
  background-color: #2b59ff;
  color: #fff;
  border-radius: 25px;
  border: 0;
}

.buttons .fa-solid {
  color: #fff;
  display: none;
}




/*
  **
  **
  ** Css of Hero-section
  **
  **
  */

.hero-section {
  background-color: #12141d;
  padding: 120px 10px;
  padding-bottom: 300px;
}

.hero-section b {
  color: #2b59ff;
  text-decoration: underline;
}

.hero-section h1 {
  color: #fff;
  font-size: 60px;
  line-height: 65px;
}

.hero-section p {
  color: #fafafa;
  font-size: 20px;
}

.hero-section button {
  padding: 10px 40px;
  background-color: #2b59ff;
  color: #fff;
  border-radius: 25px;
  border: 0;
}

.hero-image img {
  transform: translateY(-35%);
}

/*
  **
  **
  ** Css of swiper section
  **
  **
  */

.swiper {
  height: 150px;
}

.swiper .swiper-slide {
  height: 100px !important;
}

.swiper .swiper-slide img {
  background: #E3E3E3;
  padding: 20px;
  border-radius: 10px;
}



/*
  **
  **
  ** Css of services
  **
  **
  */

.services {
  padding: 30px 0px;
}

.services .service-card {
  background-color: #FAFAFA;
  padding: 20px 15px;
  border-radius: 10px;
  margin: 20px 0px;
}


.service-card .icon {
  border: 1px solid #E3E3E3;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  color: #000;
}

.service-card h6 {
  margin: 15px 0px;
  padding: 0px;
  font-weight: 700;
  font-size: 20px;
}

.service-card p {
  color: #8A8A8A;
}

.services .service-card:hover {
  background-color: #2b59ff;
  color: #ffff;
}

/* common classes */

.blue-text {
  color: #2b59ff;
}

/*
  **
  **
  ** Css of data-security
  **
  **
  */
.data-security {
  background-color: #F9FAFC;
  padding: 80px 20px;
}

.data-security .row {
  align-items: center;

}

.data-security h5 {
  font-weight: bold;
}

.data-security p {
  color: #4B4B4B;
}

.col-4 .first,
.second,
.third {
  margin-bottom: 10px;
}

.col-4 i {
  padding-top: 20px;
}

.first {
  border: 1px solid white;
  background-color: white;
  padding-left: 25px;
  padding-top: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
margin-bottom: 10px;

}

.first i {
  color: #008EFF;
  background-color: #A0CCF1;
  ;
  border: 1px solid #A0CCF1;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.second i {
  color: cadetblue;
  background-color: #8AF0AD;
  ;
  border: 1px solid #8AF0AD;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.third i {
  color: palevioletred;
  background-color: rgb(224, 200, 204);
  border: 1px solid rgb(224, 200, 204);
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.second {
  border: 1px solid white;
  background-color: white;
  padding-left: 25px;
  padding-top: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin-bottom: 10px;
}

.third {
  border: 1px solid white;
  background-color: white;
  padding-left: 25px;
  padding-top: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  
}

/*
  **
  **
  ** use-of-stract
  **
  **
  */


.use-of-stract{
text-align: center;
padding-top: 70px;
}
.use-of-stract h1{
  font-weight: bolder;
}
.use-of-stract h4{
  font-weight: bold;
}
.use-of-stract p{
  color: #4B4B4B;
  padding-bottom: 50px;
}
.col-first i{
  color:white;
  font-size: xx-large;
  background-color: #2b59ff;
  border: 1px solid #2b59ff;
  padding: 40px;
  border-radius: 50%;
  margin-bottom:20px ;
}
.col-second i{
  color:white;
  font-size: xx-large;
  background-color: #6F4BE5;
  border: 1px solid #6F4BE5;
  padding: 40px;
  border-radius: 50%;
  margin-bottom:20px ;
}
.col-third i{
  color:white;
  font-size: xx-large;
  background-color: #000;
  border: 1px solid #000;
  padding: 40px;
  border-radius: 50%;
  margin-bottom:20px ;
}
/*
  **
  **
  ** contact-us
  **
  **
  */

  .contact-us{
    background-color:#2b59ff;
    align-items: center;
    text-align: center;
    padding: 70px 100px;
    margin: 70px 140px;
    border-radius: 15px;
  }
  .contact-us h1{
    font-weight: bold;
    color: #fff;
    padding-bottom: 10px;
  }
  .contact-us p{
    color:#FAFAFA;
    padding-bottom: 20px;
  }
  .contact-us button{
background-color: #000;
color: #fff;
padding: 15px 35px;
border-radius: 35px;
border: none;
  }
  /*
  **
  **
  ** footer
  **
  **
  */
  .footer{
    align-items: center;
    background-color: #12141d;
    padding:180px 0px;
  
  }

  .footer h5{
    color: #fff;
    padding-bottom: 30px;
    
  }
  .footer p{
    color: #B9B3B3;
    
  }
  .footer img{
    padding-bottom: 30px;
  }
  .footer i{
    color: #fff;
    background-color: gray;
    padding: 10px;
    border-radius: 50%;
    align-items: center;
  
  }
  .footer .fI{
    background-color: #008EFF;
    align-items: center;
  }
  .footer i{
    margin-left: 5px;
  }
  .input-parent{
    display: flex;
  }
  .footer input{
    padding: 10px 20px;
    border-radius: 10px;
  }
  .footer button{
   
    color: white;
    background-color: #2b59ff;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    

  }
  .lower-footer {
    background-color:  #12141d;
  text-align: center;
  
  }
  .lower-footer p{
    color: #fff;
  }
  .lower-footer hr{
    color: #F9FAFC;
  }
@media screen and (max-width: 991px) {
  header {
    padding: 10px;
  }

  .links {
    position: absolute;
    background-color: #12141d;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 200px;
    padding: 80px 50px;
    display: none;
  }

  .links.active {
    display: block;
  }

  .links ul {
    flex-direction: column;
    
  }

  .buttons .fa-solid {
    display: block;
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 10px;

  }
}
